Node-red-flows.json
[{"id":"ca4ab176.1b5b7","type":"tab","label":"Customer Care Dashboard","disabled":false,"info":""},{"id":"dbe2f197.45ff3","type":"ui_form","z":"ca4ab176.1b5b7","name":"","label":"","group":"2e91b0ec.0f308","order":1,"width":0,"height":0,"options":[{"label":"Enter the Query","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":220,"wires":[["4dd1061f.4c0f48"]]},{"id":"4dd1061f.4c0f48","type":"function","z":"ca4ab176.1b5b7","name":"Input parse","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":380,"wires":[["d0ea75ec.1544c8","c8f109a0.a6abd8"]]},{"id":"d0ea75ec.1544c8","type":"ui_text","z":"ca4ab176.1b5b7","group":"2e91b0ec.0f308","order":2,"width":"6","height":"2","name":"","label":"Query Asked :","format":"{{msg.payload}}","layout":"row-spread","x":560,"y":440,"wires":[]},{"id":"c8f109a0.a6abd8","type":"watson-conversation-v1","z":"ca4ab176.1b5b7","name":"Customer","workspaceid":"a2bee289-ac90-449c-9737-b71a0bfbdd39","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/26fd3ef0-c511-4f8b-aa3e-c0d9bb5c6b7c","timeout":"","optout-learning":false,"x":440,"y":260,"wires":[["e3344b.ff78ebb8","2e8be42c.b5be2c"]]},{"id":"e3344b.ff78ebb8","type":"debug","z":"ca4ab176.1b5b7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":320,"wires":[]},{"id":"2e8be42c.b5be2c","type":"function","z":"ca4ab176.1b5b7","name":"output parse","func":"if(msg.payload.output.generic[0].response_type==\"image\")\n{\n    msg.url=msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\nelse  {\n    msg.payload=msg.payload.output.generic[0].text\n    msg.url = \"https://i.pinimg.com/474x/aa/79/a4/aa79a44f0dcd4d1f067d11e35683fa11.jpg\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":200,"wires":[["24f2b968.3c9886","fc417cff.b42e7","41c225e2.bf104c"]]},{"id":"24f2b968.3c9886","type":"ui_text","z":"ca4ab176.1b5b7","group":"2e91b0ec.0f308","order":3,"width":"6","height":"2","name":"","label":"BOT Response:","format":"{{msg.payload}}","layout":"row-spread","x":980,"y":200,"wires":[]},{"id":"fc417cff.b42e7","type":"ui_template","z":"ca4ab176.1b5b7","group":"2e91b0ec.0f308","name":"","order":4,"width":"6","height":"6","format":"<img ng src={{msg.url}} alt=\"image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":920,"y":80,"wires":[[]]},{"id":"41c225e2.bf104c","type":"ui_audio","z":"ca4ab176.1b5b7","name":"","group":"2e91b0ec.0f308","voice":"en-US","always":"","x":960,"y":320,"wires":[]},{"id":"2e91b0ec.0f308","type":"ui_group","z":"","name":"Customer Care","tab":"94e8348c.8b6088","order":1,"disp":true,"width":"6","collapse":false},{"id":"94e8348c.8b6088","type":"ui_tab","z":"","name":"Chatbot","icon":"dashboard","disabled":false,"hidden":false}]
